 {% extends 'tasks/layout.html' %}

 {% block contents %}

    {% if messages %}
       <ul class="messages">
        {% for message in messages %}
            <li class="{{message.tags}}"> {{message}}</li>
        {% endfor %}
       </ul>
    {% endif %}

    <h1>My Tasks</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.title }} @ {{task.priority}}: {{task.description}}</li>
        {% empty %}
            <p>Nothing to do! Congrats!!</p>
        {% endfor %}
    </ul> 

    <p>
        <a href="{% url 'tasks:add'%}">Add a task</a>
        <a href="{% url 'tasks:delete'%}">Delete a task</a>
    </p>
{% endblock %}