<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Tasks</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <style>
        ul .messages {
            list-style-type: none;
        }
        .error {
            color: red;
        }
        .success {
            color:green;
        }
        
    </style>
</head>
<body>

    {% block contents %}
    {% endblock %}
    <footer>
        <p>Copyright UAA490 2023</p>
    </footer>
</body>
</html>